*:focus {
  outline: none;
}

.Content {
  width: 100%;
  height: 100%;

}

.TextContent {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Question,
.Answer {
  width: 40%;
  padding: 30px 15px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.13);
  margin: 20px;
  color: #fff;
  vertical-align: middle;
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 20vh;
}

.Question {
  background: #4B7BBA;
}

.Answer {
  background: #DB474E;
}

.NewQuestion {
  margin-top: 20px;
  border: 1px solid #3A4DC8;
  padding: 10px;
  width: 6em;
  background: #3A4DC8;
  color: #fff;
  font-size: 1.6em;
  transition: ease 200ms;
}

.NewQuestion:hover {
  background: #fff;
  color: #3A4DC8;
}

.NewQuestion:active {
  transform: scale(0.95);
}

