.InitError {
    margin: 20px auto 0 auto;
    vertical-align: middle;
    background: #000;
    width: 30%;
    text-align: center;
    color: #fff;
    background: #B33A3A;
    padding: 7px;
    border-radius: 4px;
}

.LoginForm {
    margin: 20px;
}

.LoginForm input[type="text"] {
    padding: 5px;
    width: 20%;
}

.LoginForm input[type="submit"] {
    width: 10%;
    border: none;
    background: #2E5178;
    margin-left: 5px;
    height: 100%;
    padding: 7px;
    color: #fff;
}
